<!-- ko with: home -->
<div class="jumbotron">
    <h1>Welcome to the brand new Cars internet shop!</h1>
    <p class="lead">Here you can find all cars you need, you want and more.</p>
    <!-- <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dealers</h2>
        <p>Check out our best dealers.</p>
        <!-- <p data-bind="text: myHometown"></p> -->
       
        <p><a class="btn btn-default" href="~/Dealers">Check out &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Cars</h2>
        <p>Check out our best carzzzz!</p>
        <p><a class="btn btn-default" href="~/Cars">Check out &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Smth</h2>
        <p>Smth description.</p>
        <p><a class="btn btn-default" href="~/Smth">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
